*{
    margin:0;
    padding:0;

}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0.5cm;
    row-gap:0.5cm;
    padding: 0.2cm;
}

.box{
    display: flex;
    flex-direction: row;
    column-gap: 0.5cm;
    flex-wrap: wrap;
}

.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.btncss{
  padding: 1cm 0.5cm;
  display: flex;
  flex-direction: column;
  row-gap: 0.2cm;
  column-gap: 0.5cm;
  align-items: center;
  justify-content: center;
  border:0.5px solid grey;
  margin:0.5cm;
}

.btn{
    padding: 0.8cm;
    cursor: pointer;
    border:0.5px solid rgb(110, 108, 108);
}

.btn1{
    background-color: rgb(209, 106, 106);
    color:rgb(255, 255, 255)
}

.btn1:hover{
    background-color: rgb(141, 65, 65);
    color:rgb(255, 255, 255)
}

.btn2{
    background-color: rgb(91, 174, 117);
    color:rgb(255, 255, 255)
}

.btn2:hover{
    background-color: rgb(36, 84, 51);
    color:rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 2px black;
}

.btn3{
    background-color: rgb(232, 232, 232);
    color:rgb(61, 60, 60)
}

.btn3:hover{
    background-color: rgb(175, 175, 175);
    color:rgb(255, 255, 255);
    box-shadow: 2px 1.5px 2px 1.5px black;
}

.btn4{
    background-color: rgb(31, 73, 107);
    color:rgb(255, 255, 255)
}

.btn4:hover{
    background-color: rgb(10, 68, 127);
    color:rgb(255, 255, 255);
    box-shadow: 5px 4px 5px 4px rgb(108, 108, 108);
}

.btn5{
    background-color: rgb(87, 6, 142);
    color:rgb(255, 255, 255)
}

.btn5:hover{
    background-color: rgb(152, 7, 255);
    color:rgb(255, 255, 255);
    box-shadow: 8px 5px 8px 5px rgb(108, 108, 108);
}

.btn6{
    background-color: rgb(135, 4, 90);
    color:rgb(255, 255, 255)
}

.btn6:hover{
    background-color: rgb(179, 55, 188);
    color:rgb(255, 255, 255);
    box-shadow: 0px 6px 6px 0px rgb(108, 108, 108);
}
.semi-round{
    border-radius: 6px;
}

.quarter-round{
    border-radius: 15px;
}

.round{
    border-radius: 20px;
}

.cylindrical{
    border-radius: 30px;
}

.ellipse{
    border-radius: 40px;
}

.btnborder1{
    border: 2px solid rgb(209, 106, 106);
    color:rgb(0, 0, 0)
}

.btnborder1:hover{
    border:2px solid rgb(141, 65, 65);
    color:rgb(0, 0, 0);
}

.btnborder2{
    border:2px solid rgb(91, 174, 117);
    color:rgb(0, 0, 0)
}

.btnborder2:hover{
    border:2px solid rgb(36, 84, 51);
    color:rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 2px black;
}

.btnborder3{
    border:2px solid rgb(232, 232, 232);
    color:rgb(0, 0, 0)
}

.btnborder3:hover{
    border:2px solid rgb(175, 175, 175);
    color:rgb(0, 0, 0);
    box-shadow: 2px 1.5px 2px 1.5px black;
}

.btnborder4{
    border:2px solid rgb(31, 73, 107);
    color:rgb(0, 0, 0)
}

.btnborder4:hover{
    border:2px solid rgb(10, 68, 127);
    color:rgb(0, 0, 0);
    box-shadow: 5px 4px 5px 4px rgb(108, 108, 108);
}

.btnborder5{
    border:2px solid rgb(87, 6, 142);
    color:rgb(0, 0, 0)
}

.btnborder5:hover{
    border:2px solid rgb(152, 7, 255);
    color:rgb(0, 0, 0);
    box-shadow: 8px 5px 8px 5px rgb(108, 108, 108);
}

.btnborder6{
    border:2px solid rgb(135, 4, 90);
    color:rgb(0, 0, 0)
}

.btnborder6:hover{
    border:2px solid rgb(179, 55, 188);
    color:rgb(0, 0, 0);
    box-shadow: 0px 6px 6px 0px rgb(108, 108, 108);
}

.btnborder1-fill{
    border: 2px solid rgb(209, 106, 106);
    background-color: transparent;
    color:rgb(35, 34, 34)
}

.btnborder1-fill:hover{ 
    color:rgb(255, 255, 255);
    animation: cover1 2s ease;
    animation-fill-mode: forwards;
}

@keyframes cover1{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgb(141, 65, 65);
    }
}

.btnborder2-fill{
    border:2px solid rgb(91, 174, 117);
    color:rgb(0, 0, 0)
}

.btnborder2-fill:hover{
    border:2px solid rgb(36, 84, 51);
    color:rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 2px black;
    animation: cover2 2s ease;
    animation-fill-mode: forwards;
}

@keyframes cover2{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgb(36, 84, 51);
    }
}

.btnborder3-fill{
    border:2px solid rgb(232, 232, 232);
    color:rgb(0, 0, 0)
}

.btnborder3-fill:hover{
    border:2px solid rgb(175, 175, 175);
    color:rgb(43, 42, 42);
    box-shadow: 2px 1.5px 2px 1.5px black;
    animation: cover3 2s ease;
    animation-fill-mode: forwards;
}

@keyframes cover3{
    0%{
        background-color: transparent;
    }
    100%{
        background-color:rgb(175, 175, 175);
    }
}

.btnborder4-fill{
    border:2px solid rgb(31, 73, 107);
    color:rgb(0, 0, 0)
}

.btnborder4-fill:hover{
    border:2px solid rgb(10, 68, 127);
    color:rgb(255, 255, 255);
    box-shadow: 5px 4px 5px 4px rgb(108, 108, 108);
    animation: cover4 2s ease;
    animation-fill-mode: forwards;
}

@keyframes cover4{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgb(10, 68, 127);
    }
}

.btnborder5-fill{
    border:2px solid rgb(87, 6, 142);
    color:rgb(0, 0, 0)
}

.btnborder5-fill:hover{
    border:2px solid rgb(152, 7, 255);
    color:rgb(255, 255, 255);
    box-shadow: 8px 5px 8px 5px rgb(108, 108, 108);
    animation: cover5 2s ease;
    animation-fill-mode: forwards;
}

@keyframes cover5{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgb(152, 7, 255);
    }
}

.btnborder6-fill{
    border:2px solid rgb(135, 4, 90);
    color:rgb(0, 0, 0)
}

.btnborder6-fill:hover{
    border:2px solid rgb(179, 55, 188);
    color:rgb(255, 255, 255);
    box-shadow: 0px 6px 6px 0px rgb(108, 108, 108);
    animation: cover6 2s ease;
    animation-fill-mode: forwards;
}

@keyframes cover6{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgb(179, 55, 188);
    }
}

.transparent{
    background-color: rgba(240, 248, 255, 0);
}

#imgbtn1{
    cursor:pointer;
    height:2cm;
    width:2cm;
    padding:0.5cm;
    border:none;
    background-color: transparent;
}

